.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.post-header-avatar {
   display: table-cell;
   vertical-align: top
}
.post-header-body {
   display: table-cell;
   vertical-align: top;
   padding-left: 10px;
}
.panel-body {
   padding-bottom: 10px;
}
.comment-avatar-user {
   display: table-cell;
   vertical-align: top;
   padding-top: 3px;
}
.comment {
   margin-top: 10px;
}
.comment-body {
   display: table-cell;
   vertical-align: top;
   padding-left: 10px;
}
.sub-comment-item {
   margin-top : 5px;
}